*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 99;
}
#attachmentModal .modal-content,
#clinicalHistoryModal .modal-content,
#previewPopup .modal-content {
  background: white;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
    #attachmentModal .modal-content,
    #clinicalHistoryModal .modal-content,
    #previewPopup .modal-content,
    #previewPopup {
        width: 83.333333%;
    }
}

@media (min-width: 1280px) {
    #attachmentModal .modal-content,
    #clinicalHistoryModal .modal-content,
    #previewPopup .modal-content,
    #previewPopup {
        width: 75%;
    }
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.modal-header button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.modal-body {
    margin-top: 10px;
}
input[type="file"] {
    display: block;
}
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}
.preview-btn, .remove-btn {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.preview-btn {
    background: green;
    color: white;
}
.remove-btn {
    background: red;
    color: white;
}

 /* Styles for the preview popup */
 #popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#previewPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#previewPopup iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #555;
    background: #222;
    color: white;
    border-radius: 5px;
}
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

  